.image1 {
    height: auto;
    width: auto;
    text-align: center;
}
.navbar {
    list-style: none;
    font-family: sans-serif;
    font-size: 13px;
    padding: 0px;
    align-items: center;
    display: flex;
    justify-content: left;
}
a {
     padding-left: 0px;
     padding-right: 30px;
     text-align: center;
 }
a:link {
    color: black;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}
.homelogo {
    width: 80px;
    border: none;
    height: 30px;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}