.image1 {
    height: 65px;
    width: 250px;
    display: inline-block;
}
.navbar {
    list-style: none;
    font-family: sans-serif;
    font-size: 13px;
    padding: 0px;
    align-items: center;
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
    margin-top: 5px;
}
.banner {
    background-image: url("Images/coverphoto.jpeg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    text-align: center;
    padding-top: 15%;
}
.title1 {
    font-family: sans-serif;
    font-size: 30px;
    display: block;
    color:#1F497D;
    margin-top: 0px;
}
.maintitle {
    background-color: rgba(196, 196, 196, 0.3);
}
body {
    margin: 0px;
    text-align: center;
}
a {
     padding-left: 0px;
     padding-right: 30px;
     text-align: center;
 }
a:link {
    color: black;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}
.homelogo {
    width: 80px;
    border: none;
    height: 30px;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}